* {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.nav-container {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: orange;
}

.nav-item {
  margin: 10px;
  padding: 10px;
  display: flex;
}
/* Welcome section styles */
.welcome-container {
  width: 100vw;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/* Welcome content styling */
.welcome-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Feature section style */
.feature-container {
}
